<h3>Users</h3>
<button class="button warning" ng-click="users_list()">Relaod</button>
<table border="1">
  <tr>
    <td>ID</td>
    <td>NAME</td>
    <td>EMAIL</td>  
    <td>ACTION</td>  
  </tr>
  <tr ng-repeat="user in users">
    <td>{{user.id}}</td>
    <td>{{user.name | capitalize_first}}</td>
    <td>{{user.email}}</td>
    <td>
      <a class="button primary" ng-href="#/users/{{user.id}}">Details</a>
      <a class="button alert" ng-click="delete(user.id)">Delete</a>
    </td>
  </tr>
</table>
<a href="#/users/new" class="button success">Create new</a>