<!doctype html>
<html class="no-js" lang="en" ng-app 
ng-init="articles=[{id: 1, name: 'Trip1', price: 200 },{id:2, name:'Cuernavaca', price:50}]; selected_item=''; myClass='alert'; hideMe=false; readOnly=true">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link href='./css/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Directives</li>
          <li><a href="#">Controllers</a></li>
          <li><a href="#">Views</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Routes</a></li>
          <li><a href="#">Modules</a></li>
          <li><a href="#">Data Models</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </div>
    </div>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
          <img src="./images/eye.jpg">
        </li>
        <li class="orbit-slide">
          <img src="./images/surf.jpg">
        </li>
        <li class="orbit-slide">
          <img src="./images/sunset.jpg">
        </li>
        <li class="orbit-slide">
          <img src="./images/new_york.jpg">
        </li>
      </ul>
    </div>
    <div class="row column text-center">
      <h2>NG-REPEAT with </h2>
      <hr>
    </div>
    <div class="row small-up-2 large-up-4">
      <div class="column" ng-repeat="article in articles">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>{{article.name}}</h5>
        <p>{{article.price | currency }}</p>
        <a ng-click="selected_item=article.name" class="button expanded">Buy</a>
        <span>{{selected_item}}</span>
      </div>
    </div>
    <hr>
    <div class="row column">
      <a class="button success" ng-click="myClass='alert'">Apply class</a>
      <a class="button alert" ng-click="myClass=''">Remove class</a>
    </div>
    <div class="row column">
      <br>
      <div class="callout" ng-class="myClass">
        <h3 ng-class="myVar">Really big special this week on items.</h3>
      </div>
    </div>



    <div class="row column">
      <a class="button success" ng-click="hideMe=false">Show</a>
      <a class="button alert" ng-click="hideMe=true">Hide</a>
    </div>
    <div class="row column" ng-hide="hideMe">
      <br>
      <div class="callout" >
        <h3 ng-class="myVar">Show/Hide</h3>
      </div>
    </div>

    <div class="row column">
      <a class="button success" ng-click="readOnly=false">Enable</a>
      <a class="button alert" ng-click="readOnly=true">Disable</a>
    </div>
    <div class="row column">
      <br>
      <div class="callout" >
        <input type="text" ng-readonly="readOnly"  />
      </div>
    </div>
    

    <hr>
    <div class="row column text-center">
      <h2>Some Other Neat </h2>
      <hr>
    </div>
    <div class="row small-up-2 medium-up-3 large-up-6">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
    </div>
    <hr>
    <div class="callout large secondary">
    <div class="row">
      <div class="large-12 columns">
        <h5>AngularJS Course</h5>
        <p>examples by: <a href="https://twitter.com/bpineda">@bpineda</a></p>
        </h4>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript" src="https://intercom.zurb.com/scripts/zcom.js"></script>
  </body>
</html>